{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "modules": true,
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off"
  }
}
